<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>

<h1>Corona Statistics</h1>
<h2>Select your country</h2>
<form method="post" action="/">
    <select name="country1" id="country1">
    </select>
    <select name="country2" id="country2">
    </select>
    <select name="country3" id="country3">
    </select>
    <input type="submit" value="ok">
</form>

<div>
    <h2>Corona Cases</h2>
    <canvas id="myChart1"></canvas>

    <h2>Corona Deaths</h2>
    <canvas id="myChart2"></canvas>
</div>
<script>



    // GET COUNTRIES FROM API
    var countries  = null
    const getCountries = () => {
     axios.get("https://restcountries.com/v3.1/all")
     .then(response => {
         countries = response.data;

        // Fill Country 1 Options
        var country1 = document.getElementById("country1")
        var country2 = document.getElementById("country2")
        var country3 = document.getElementById("country3")
        for(let i=0; i<20; i++){
            console.log(countries)
               var opt = document.createElement("option");
               opt.value= i;
               opt.innerHTML = countries[i].name.common;
               opt.value = countries[i].cca3;
               country1.appendChild(opt);

        };

        // fill select country 2
        for(let i=20; i<40; i++){
            console.log(countries)
               var opt = document.createElement("option");
               opt.value= i;
               opt.innerHTML = countries[i].name.common;
               opt.value = countries[i].cca3;
               country2.appendChild(opt);

        };

        // fill select country 3
          for(let i=40; i<60; i++){
            console.log(countries)
               var opt = document.createElement("option");
               opt.value= i;
               opt.innerHTML = countries[i].name.common;
               opt.value = countries[i].cca3;
               console.log(opt)
               country3.appendChild(opt);

        };
    })
     .catch(error => console.error(error));
    };
    getCountries();

    console.log({{covidData}})

   var ctx = document.getElementById('myChart1').getContext('2d')
   var myChart1 = new Chart(ctx, {
       type:'line',
       data:{
           labels: "{{dateLabels}}",
           datasets:[
               {
                   label: '{{country1}}',
                   data: "{{covidData.cases}}",
                   borderColor: 'rgb(255,99, 132)',
                   fill:false
               }
           ]
       },
       options:{
           maintainInAspectRatio: false
       }
   })

</script>
</body>
</html>